.first-run-container, .locations-container {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 20em;
}

.first-run-content, .locations-content {
	max-width: 50%;
	flex: 1;
}