<ion-view>
	<ion-header-bar class="bar-positive">
		<h1 class="title">Diet Preferences</h1>
	</ion-header-bar>
	<ion-content class="has-header">
		<ion-list ng-repeat="category in categories">
			<div class="item item-divider">
				{{category.name}}
			</div>
			<ion-list>
				<ion-item ng-repeat="item in category.items" class="item-checkbox">
					<label class="checkbox">
						<input type="checkbox" checked>
					</label>
					{{item}}
				</ion-item>
			</ion-list>
		</ion-list>
		<button class="button button-block button-stable" ui-sref="locations">
			Save Preferences
		</button>
	</ion-content>
</ion-view>