<ion-view>
	<ion-header-bar class="bar-positive">
		<h1 class="title">Restaurant Confirmation</h1>
	</ion-header-bar>
	<ion-content class="has-header">
		<div class="locations-container">
			<div class="locations-content">
				<p>Are you at any of these restaurants? Please confirm your location.</p>
				<div class="list card">
					<a ui-sref="tabs.meals" class="item">
						BJ's Restaurant Denton
					</a>
					<a ui-sref="tabs.meals" class="item">
						On the Border Denton
					</a>
					<a ui-sref="tabs.meals" class="item">
						Applebee's Denton
					</a>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>