<ion-view title="Meals">
	<ion-nav-buttons side="primary">
		<button class="button">
			Locations
		</button>
	</ion-nav-buttons>
	<ion-content class="has-header">
		<div class="list card">
			<div class="item">
				<h2>Southern Fried Chicken</h2>
			</div>
		
			<div class="item item-body">
				<img class="full-image" src="img/southern_fried_chicken.png" />
				<p>
					Two crispy, handbreaded, buttermilk fried chicken breasts, pepper cream gravy and white cheddar mashed potatoes with a corn and fire-roasted red pepper succotash.
				</p>
				<p>
					<a href="#" class="subdued">8 votes</a>
				</p>
			</div>
			
			<div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" href="#">
					<i class="icon ion-thumbsup"></i>
					Yes
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-thumbsdown"></i>
					No
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>