<ion-view title="Preferences">
	<ion-nav-buttons side="primary">
		<button class="button" ui-sref="locations">
			Locations
		</button>
	</ion-nav-buttons>
	<ion-content class="has-header">
		<ion-list ng-repeat="(category, items) in categories">
			<div class="item item-divider">
				{{category}}
			</div>
			<ion-list>
				<ion-item ng-repeat="item in items" class="item-checkbox">
					<label class="checkbox">
						<input type="checkbox" checked>
					</label>
					{{item}}
				</ion-item>
			</ion-list>
		</ion-list>
		<button class="button button-block button-stable" ui-sref="locations">
			Save Preferences
		</button>
	</ion-content>
</ion-view>