<ion-view>
	<ion-nav-bar class="bar-positive bar-header">
	</ion-nav-bar>
	<ion-tabs class="tabs-positive tabs-icon-top">
		<ion-tab title="Meals" icon="ion-fork" ui-sref="tabs.meals">
			<ion-nav-view name="meals"></ion-nav-view>
		</ion-tab>
		<!--<ion-tab title="Favorites" icon="ion-android-star" ui-sref="favorites">
			<ion-nav-view name="favorites"></ion-nav-view>
		</ion-tab>-->
		<ion-tab title="Preferences" icon="ion-android-settings" ui-sref="tabs.preferences">
			<ion-nav-view name="preferences"></ion-nav-view>
		</ion-tab>
	</ion-tabs>
</ion-view>